.container{
}
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 160px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: rgb(86, 182, 214); /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
  }
  .destinations{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .settings{
    display:grid;
    grid-template-columns: repeat(2,1fr);
  }
  .main{
    display: grid;
    margin-left:160px;
    height:1063px;
  }
  .info {
    display: grid;
    grid-template-columns: 3fr 1fr;
  }
  .projects{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }